.card{
    margin-top: 1px;
    margin-bottom: 1px;

}

.card-content{
    margin-top:1px;
    margin-bottom:1px;
    margin-left: 1px;
    margin-right: 1px;
}

.img{
    ion-content {
        height:70vh;
        width: auto;
        alighn-items: center;
    }
}