<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1 style = "text-align:center">Your Profile </h1> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center text-align="center">
  <ion-card text-center text-align="center">
      <ion-item>
        <h2 text-center text-align="center" class="headers">Peter</h2>
          <br />
      </ion-item>
      
      <ion-item>
          <ion-avatar class="img">
             <img src="img/bigboi.jpg">
          </ion-avatar>
      </ion-item>
     
      <ion-item>

        <ion-list text-center text-align="center">
          <ion-list-header text-center text-align="center">
          <h3 class="headers">Your Account Details</h3>
          </ion-list-header>
         
           <ion-label class="smalltext" style="text-align: center"> </ion-label>
           <ion-label class="smalltext" style="text-align: center"> </ion-label>
           <ion-label class="smalltext" style="text-align: center"> </ion-label>
           <ion-label class="smalltext" style="text-align: center"> Member since 2017</ion-label>
        </ion-list>
      </ion-item>

      

      
      
        

      <ion-button color="danger">
        <ion-icon slot="end" name="send" color="white" class="icons"></ion-icon>
        <ion-label href="booking">create a new listing?</ion-label>
      </ion-button>
     

      <ion-button href="home" class="button" color="danger" expand="curved"  >
       <ion-icon slot="start" name="return-left"></ion-icon>
        Logout
      </ion-button>


   
      
  </ion-card>   
</ion-content>
